@charset "UTF-8";

*{
      margin: 0;
      padding: 0;

      
}

html,body{
      height: 100vh;
      width: 100vw;
}

body{
            background-image: url(../imagens/fundo-madeira.jpg);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            background-attachment: fixed;
}

main{
      height: 100vh;
      position: relative;
}

#iphone{
      height: 627px;
      width: 311px;
      background-image: url(../imagens/frame-iphone.png);
      background-repeat: no-repeat;
      
      
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}

#tela{
      position: relative;
      top: 80px;
      left: 22px;
      width: 268px;
      height: 470px;
}